.header {
  position: relative;
  display: flex;
  flex-basis: $header-basis;
  justify-content: center;
  background: url(../image/blue-bg.png) $header-bg;

  &-stripe {
    position: absolute;
    display: none;
    height: 100%;
    width: $header-stripe-width;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $header-stripe-bg;
      transform: skew(-30deg);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-basis: $center-width;
    padding: 48px 0 24px 0;
    z-index: 1;
    .name {
      display: flex;
      flex-basis: 36px;
      align-items: center;
      font-size: 27px;
      color: #fff;
      letter-spacing: 12px;
    }
    .job {
      display: flex;
      flex-basis: 24px;
      align-items: center;
      font-size: 18px;
      color: #3498db;
      text-shadow: 1px 1px 0 #151e27;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      padding: 40px 0;
      margin: 0;
      list-style: none;

      &-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        font-size: 18px;
        color: #ffffff;
        cursor: pointer;
        text-shadow: 1px 1px 1px #345670;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #3493d3;
          transform: skew(-30deg);
          z-index: -1;
        }

        &:hover::after {
          background: #2a7db4;
        }
      }
    }
  }
}