.main {

  .personal,
  .skills,
  .experience,
  .portfolio,
  .contract {
    display: flex;
    justify-content: center;
    z-index: 1;
    &-content {
      flex-basis: $center-width;
      padding: $personal-content-padding;
    }
  }

  .personal,
  .skills,
  .portfolio,
  .contract {
    background: url(../image/white-bg.png);
  }

  .experience {
    background: url(../image/blue-bg.png);
  }

  .content-header {
    display: flex;
    height: $content-header-height;
    margin-bottom: $content-header-margin;
    .title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $title-padding;
      font-size: 18px;
      color: #fff;
      text-shadow: 1px 1px 1px #345670;
      z-index: 2;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #58a;
        box-shadow: 1px 1px 1px #608ba7;
        transform: skew(-30deg);
        z-index: -1;
      }
    }
    .divider {
      position: relative;
      display: flex;
      flex-grow: 1;
      align-items: center;
      .details {
        align-items: center;
        padding: 0 32px;
        font-size: 12px;
        font-style: italic;
        font-weight: 600;
      }

      &-item {
        flex-grow: 1;
        height: 3px;
        transform: skew(-30deg);
      }
    }
  }

  .personal,
  .skills,
  .portfolio,
  .contract {
    .content-header {
      .divider {
        .details {
          color: #7f8c8d;
        }

        &-item {
          background: #2980b9;
        }
      }
    }
  }

  .experience {
    .content-header {
      .divider {
        .details {
          color: #bdc3c7;
        }

        &-item {
          background: #3498db;
        }
      }
    }
  }

  .content-main {
    display: flex;
  }

  .personal .content-main {
    .personal-info {
      display: flex;
      flex-direction: column;
      flex-basis: $personal-info-basis;
      li {
        display: flex;
        flex-basis: $personal-info-list-basis;
        span {
          display: flex;
          align-items: center;
          font-size: $personal-info-list-size;
          font-weight: 600;
        }
        span:nth-child(1) {
          flex-basis: 140px;
          color: $personal-info-list-title-color;
        }

        span:nth-child(2) {
          flex-grow: 1;
          color: $personal-info-list-detail-color;
          i {
            margin-right: 10px;
            font-size: 18px;
          }
        }
      }
    }
    .personal-photo {
      flex-grow: 1;
      background: #58a;
    }
  }

  .list {

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        height: 100%;
        width: 8px;
        background: #fff;
      }

      &:last-child::before {
        background: transparent;
      }
      &-title {
        position: relative;
        display: flex;
        flex-basis: $list-item-title-basis;
        color: #fff;
        z-index: 0;

        span:first-child {
          padding-left: 24px;
          margin-right: 57px;
          font-size: 15px;
          font-weight: 600;
        }

        span:last-child {
          position: relative;
          top: -3px;
          display: flex;
          padding: 0 8px;
          font-size: 12px;
          align-items: center;
          justify-content: center;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #3498db;
            z-index: -1;
            transform: skew(-30deg);
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: -3px;
          left: -16px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #3498db;
        }
      }
      &-content {
        display: flex;
        align-items: center;
        padding-left: 24px;
        margin-top:7px;
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 32px;
        color: #fff;
      }
    }
  }
}