.career {
  background: $career-bg;

  &-content {
    @include center;
    flex-direction: column;
    flex-basis: $center-width;

    .title {
      @include center;
      flex-basis: 100px;
      font-size: 64px;
      font-weight: 600;
      @include title-text-shadow($career-bg);
    }

    .list {
      @include center;
      flex-direction: column;
      .time {
        @include center;
        flex-basis: 40px;
        font-size: 20px;
        font-weight: 600;
        color: lighten($career-bg, 35);
      }
      .company {
        @include center;
        flex-basis: 60px;
        font-size: 36px;
        font-weight: 600;
        color: lighten($career-bg, 30);
      }
      .introduction {
        @include center;
        flex-basis: 40px;
        font-size: 18px;
        color: lighten($career-bg, 25);
      }
    }
  }
}