.home {
  background: $home-bg;

  &-content {
    @include center;
    flex-direction: column;
    flex-basis: $center-width;

    .photo {
      flex-basis: $photo-size;
      width: $photo-size;
      margin-bottom: 24px;
      border: 16px solid $home-color-light;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 256px;
        height: 256px;
      }
    }

    .name {
      @include center;
      flex-basis: 100px;
      font-size: 64px;
      font-weight: 600;
      @include title-text-shadow($home-bg);
    }

    .aspiration {
      @include center;
      flex-basis: 60px;
      font-size: 32px;
      font-weight: 600;
      color: $home-color-light;
    }

    .position {
      @include center;
      flex-basis: 40px;
      font-size: 24px;
      font-weight: 600;
      text-shadow: 1px 1px 0 $home-bg, 2px 2px 0 $home-color-light;
    }

    .communication,
    .email,
    .download {
      @include center;
      flex-basis: 40px;
      font-size: 20px;
      text-decoration: none;
    }

    .download {
      color: #fff;
    }
  }
}