.project {
  background: $project-bg;

  &-content {
    @include center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -128px;
    flex-direction: column;
    flex-basis: $center-width;

    .title {
      @include center;
      flex-basis: 100px;
      font-size: 64px;
      font-weight: 600;
      @include title-text-shadow($project-bg);
    }
  }

  .bootstrap,
  .react,
  .bpm {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 450px;
    padding-top: 100px;
    margin: 0 auto;

    .title {
      @include center;
      flex-basis: 48px;
      font-size: 24px;
      font-weight: 600;
    }

    .duration {
      @include center;
      flex-basis: 36px;
      font-size: 18px;
      font-weight: 600;
      color: lighten($project-bg, 17.5);
    }

    .core {
      @include center;

      .label {
        background: darken($project-bg, 7.5);
      }
    }

    .description {
      font-size: 16px;
      line-height: 30px;
      text-indent: 2em;
      color: lighten($project-bg, 20);
    }
  }
}