.project {
  background: $project-bg;

  &-content {
    @include center;
    position: absolute;
    flex-direction: column;
    flex-basis: $center-width;

    .title {
      @include center;
      flex-basis: 100px;
      font-size: 64px;
      font-weight: 600;
      @include title-text-shadow($project-bg);
    }
  }

  .bootstrap,
  .react,
  .bpm {
    width: 800px;
    height: 320px;
    padding-top: 100px;
    margin: 0 auto;
    background: #58a;
  }
}