.project {
  background: $project-bg;

  &-content {
    @include vertical-center;
    flex-direction: column;
    flex-basis: $center-width;

    .title {
      @include vertical-center;
      flex-basis: 100px;
      font-size: 64px;
      font-weight: 600;
      @include title-text-shadow($project-bg);
    }
  }
}