.skills {
  background: $skills-bg;

  &-content {
    @include center;
    position: relative;
    flex-direction: column;
    flex-basis: $center-width;
    margin-bottom: 80px;

    .title {
      @include center;
      flex-basis: 100px;
      font-size: 64px;
      font-weight: 600;
      @include title-text-shadow($skills-bg);
    }

    .detail-row {
      display: flex;
      justify-content: space-between;
    }

    .detail-description {
      position: absolute;
      top: 320px;
      @include center;
      line-height: 40px;
      width: 640px;
      padding: 12px 32px;
      font-size: 16px;
      font-weight: 600;
      color: $skills-description-color;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 25px;
        border-left: 2px solid $skills-description-color;
        border-top: 2px solid $skills-description-color;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 25px;
        border-right: 2px solid $skills-description-color;
        border-bottom: 2px solid $skills-description-color;
      }
    }
  }
}