/*
 *  Components
 */
//  Label
$label-padding                : 4px 8px !default;
$label-margin                 : 8px !default;
$label-font-size              : 14px !default;

$label-skilled-bg             : #096254 !default;
$label-skilled-bg-hover       : lighten($label-skilled-bg, 5) !default;

$label-comprehend-bg          : #0e7a6a !default;
$label-comprehend-bg-hover    : lighten($label-comprehend-bg, 5) !default;

$label-learning-bg            : #15937f !default;
$label-learning-bg-hover      : lighten($label-learning-bg, 5) !default;

//  Nav
$nav-circle-size              : 24px !default;
/*
 *  Containers
 */
//  Scaffold
$min-width                    : 1400px !default;
$min-height                   : 700px !default;

$center-width                 : 1000px !default;

$font-family-base             : Ubuntu, '思源黑体', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !default;
$font-color-base              : #fff !default;

//  Home
$home-bg                      : #22c3aa !default;
$home-color-light             : #aee2d9 !default;
$photo-size                   : 256px !default;


//  Project
$project-bg                   : #ff758a !default;

//  Skills
$skills-bg                    : #5abbb0 !default;
$skills-description-color     : #cee2d9 !default;
//  Education
$education-bg                 : #c93c67 !default;

//  Career
$career-bg                    : #6fb5d0 !default;

//  Intention
$intention-bg                 : #109085 !default;

//  Download
$download-bg                  : #6a94c6 !default;
