@import "variables";
@import "mixins";
@import "normalize";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "components/label";

.print {
  display: flex;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  color: #fff;
  font-family: '思源黑体', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  main {
    display: flex;
    width: 1240px;
    height: 1754px;

    aside {
      display: flex;
      flex-direction: column;
      flex-basis: 450px;
      justify-content: space-between;
      padding-top: 60px;
      background: #00cfba;

      .personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        .photo {
          flex-basis: 256px;
          width: 256px;
          margin: 0 0 24px 0;
          border: 16px solid $home-color-light;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 256px;
            height: 256px;
          }
        }

        .name {
          line-height: 80px;
          font-size: 48px;
          font-weight: 600;
        }

        .position {
          margin-bottom: 32px;
          line-height: 48px;
          font-size: 26px;
          font-weight: 600;
        }

        .contact {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0 0 48px 0;
          list-style: none;
          .list-item {
            display: flex;
            align-items: center;
            flex-basis: 48px;
            i {
              font-size: 24px;
              margin-right: .5em;
            }

            span {
              font-size: 20px;
            }
          }
        }
      }

      .aspiration {
        @include center;
        flex-direction: column;
        margin-bottom: 96px;
        color: #aee2d9;
        span {
          display: flex;
          align-items: center;
          flex-basis: 40px;
          font-size: 24px;
          font-weight: 500;
        }

        span:first-child {
          flex-basis: 72px;
          font-size: 36px;
          font-weight: 600;
        }
      }

      .skills {
        @include center;
        flex-direction: column;
        margin-bottom: 96px;
        .detail-row {
          display: flex;
          justify-content: space-between;
        }
      }

      .tooltip {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 62px;
        margin: 0 0 48px;
        font-size: 16px;
        color: #fff;
        span {
          display: flex;
          flex-basis: 24px;
          align-items: center;
        }
      }
    }

    article {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 0;
      justify-content: space-between;
      padding: 60px 56px 48px 56px;
      color: #00cfba;
      background: #fffff0;

      .project,
      .career,
      .education,
      .intention {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        .name {
          display: flex;
          flex-basis: 48px;
          font-size: 24px;
          font-weight: 600;
          color: #6e6e6e;
          i,
          span {
            display: flex;
            align-items: center;
          }

          i {
            position: relative;
            top: 1px;
            margin-right: 6px;
          }
        }

        .description {
          display: flex;
          align-items: center;
          font-size: 20px;
          font-weight: 500;
          line-height: 36px;
          color: #8a8986;
        }
      }

      .project {
        .detail-row {
          display: flex;
          margin-bottom: 1.5em;

          &:last-child {
            margin-bottom: 0;
          }
          .label {
            padding: 6px 16px 7px;
            margin: 8px 16px 9px 0;
            color: #fff;
            font-weight: 600;
            border-radius: 18px 18px 18px 0;
            background: #00cfba;
          }
        }
        .description {
          margin: .25em 0;
        }
      }

      .career,
      .education {
        .duration {
          color: #00cfba;
        }
      }

      .title {
        display: flex;
        flex-basis: 48px;
        margin-bottom: 4px;

        span:nth-child(1) {
          margin-right: .5em;
          font-size: 20px;
          font-weight: 600;
          line-height: 48px;
          &:first-letter {
            font-size: 32px;
          }
        }

        span:nth-child(2) {
          font-size: 20px;
          font-weight: 500;
          line-height: 57px;
        }
      }

      .intention {
        .intention-detail {
          display: flex;
          align-items: center;
          flex-basis: 56px;
          font-size: 24px;
          font-weight: 600;
          span:nth-child(1) {
            color: #6e6e6e;
          }
        }
      }

      .education {
        margin-bottom: 0;

        .experience {
          display: flex;
          justify-content: space-between;

          .master,
          .bachelor {
            display: flex;
            flex-direction: column;

            .duration {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
